services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    environment:
      WEB_DOCUMENT_ROOT: /app/public
      WEB_DOCUMENT_INDEX: index.php
      PHP_DISMOD: ioncube
      DATABASE_URL: "postgres://user:181373@database:5432/app"
    ports:
      - "8010:80"
    volumes:
      - .:/app
    working_dir: /app
    depends_on:
      - database

  database:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 181373
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - database_data:/var/lib/postgresql/data


volumes:
  database_data: